.section-header {
    color: #fff;
    overflow: hidden;
    height: 160px;
    position: absolute;
    left: 0; right: 0;
    margin: 0 !important;
}

.section-header > div {
    margin: 0 auto;
    max-width: 1560px;
}

.section-header > div > div > img {
    max-width: 323px;
}

.section-header > div > div > h1 {
    font-size: 36px;
    margin-top: 55px;
    margin-left: 20px;
}

.section-content {
    padding-top: 208px;
}

.section-content > div:nth-child(1) {
    padding-left: 20px;
}

.section-content > div:nth-child(2) {
    padding-right: 20px;
}

.section-content > div:nth-child(2) > a > img {
    max-width: 100%;
}

.section-content > div:first-child > ul {
    list-style-type: none;
    margin: 0; padding: 0;
}

.section-content > div:first-child > ul > li {
    padding-top: 24px;
}

.section-content > div:first-child > ul > li > a {
    color: #9da3ad;
}

.active-section > a {
    color: #000 !important;
    font-size: 26px;
}

.active-section > a:hover {
    text-decoration: none;
}

.sorting-options {
    border-bottom: 1px solid #f6f6f6;
    margin-bottom: 48px;
    padding-bottom: 8px;
}

.sorting-options > div > span:first-child {
    font-weight: bolder;
}

.sorting-options > div > span {
    margin-right: 40px;
}

.sort {
    color: #29b473;
    cursor: pointer;
    transition: 0.2s;
}

.sort:hover  {
    color: #000;
    transition: 0.2s;
}

.active-sort {
    color: #000;
}

.catalog {
    padding: 0 !important;
}

.catalog > div > .main-item {
    width: auto !important;
}

.catalog-form {
    background-color: #d6ebff;
    height: 215px;
    margin-top: 48px;
}

.catalog-form > div:nth-child(1) {
    padding: 34px 20px 20px 64px;
}

.catalog-form > div:nth-child(1) > p:first-child {
    font-size: 26px;
    font-weight: 500;
    max-width: 200px;
}

.catalog-form > div:nth-child(2) {
    padding: 34px 64px 64px 0;
    background-image: url('../images/theme/form-background.png');
    background-size: cover;
    height: 100%;
}

.not-found-item-from > button {
    margin-top: 17px;
}


